* {
	box-sizing: border-box;
}
body{
	font-family: "Calibri", "Times New Roman", "Verdana", "Arial", sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 175%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
div {
	background-color:grey;
}
p {
	padding: 10px;
}

div.section-title {
	font-size: 125%;

	width: 150px;
	position: relative;
	right: 0px;
	top: 0px;
	float:right;
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

div.color1 {
	background-color: pink;
	color: black;
}
div.color2 {
	background-color: red;
	color: white;
}
div.color3 {
	background-color: yellow;
}


@media (min-width: 992px){
	div.col-lg-4 {
		width:30%;
		margin: 1.5%;
		border: 1px solid black;
		padding: 0px;
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	div.col-mg-6 {
		width: 47%;
		margin:1.5%;
		border: 1px solid black;
		padding: 0px;
		float: left;
	}
	div.col-mg-12 {
		width: 97%;
		margin: 1.5%;
		border: 1px solid black;
		padding: 0px;
		float: left;
	}
}
@media (max-width: 767px) {
	div.col-sm-12
	{
		width:97%;
		margin: 1.5%;
		border: 1px solid black;
		padding: 0px;
	}
}